name: Integration Test
on: [push, pull_request]

jobs:
  integration-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Node.js 20.x
      uses: actions/setup-node@v3
      with:
        node-version: 20.x
        cache: npm
    - name: Build distribution
      shell: bash
      run: |
        npm install
        npm run build
    - name: Set up kubeconform
      uses: ./
    - name: Render kubeconform version
      run: kubeconform -v